<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.dao.MemberDao">
  <resultMap type="member" id="memberMap">
    <id column="MNO" property="no"/> 
    <result column="MNM" property="name"/>
    <result column="PWD" property="password"/>
  </resultMap>
  
  <select id="selectOneByEmailAndPassword" resultMap="memberMap" parameterType="map">
    select MNO, MNM, TEL, EMAIL 
    from BIT_MEMBS
    where EMAIL=#{email} and PWD=password(#{password})
  </select>
 
</mapper>




















